* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Nunito Sans', sans-serif; */
font-family: 'Poppins', sans-serif;
}

:root {
  --elColor: rgb(233, 233, 13);
  --textColor: rgb(212, 230, 20);
  --white: hsl(0, 0%, 100%);
  --bgColor: rgb(5, 5, 27);
}

.bodycover {
  background: var(--bgColor);
  color: var(--white);
}

.menu-container {
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

.bar1,
.bar2,
.bar3 {
  width: 2.187rem;
  height: 5px;
  background-color: var(--textColor);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header {
  border-bottom: 2px solid var(--textColor);
  text-align: center;
  margin-bottom: 2rem;
  background-color: inherit;
  z-index: 1;
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
}
.section {
  padding-top: 30vh;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 2rem 0.5rem;
}

.logo {
  color: var(--white);
  display: flex;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logo span {
  font-style: italic;
  color: var(--textColor);
}
.logo img {
  width: 8%;
  border-radius: 50%;
  margin-right: 1rem;
}

.list {
  display: none;
  border: 2px solid var(--white);
  position: absolute;
  background-color: var(--bgColor);
  width: 100%;
}

.list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.list ul li {
  padding: 1.5rem;
}

.list ul li a {
  padding: 0.5rem;
  margin-right: 0.3rem;
  color: hsl(0, 0%, 100%);
  font-weight: 900;
  padding: 1rem;
  text-decoration: none;
}

.list ul li a:hover {
  border-bottom: 4px solid var(--textColor);
  transition: 0.2s;
}
.active {
  color: var(--white);
  color: var(--bgColor);
  background-color: var(--textColor);
  border-radius: 2rem;
}

main {
  padding: 1.2rem;
}

section h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.home {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.home-img {
  width: 60%;
  /* height: 30rem; */
  border-radius: 1rem;
}
.home-text {
  margin-top: 2rem;
}
.home-text .text {
  height: 30vh;
}
.text #name {
  margin-bottom: 1.5rem;
}
.text h1,
.text p {
  line-height: 1.5rem;
}

.home p {
  line-height: 1.2rem;
  margin-top: 1rem;
}
.btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btns button {
  padding: 0.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
}
.btns .hire {
  background-color: transparent;
  border: 2px solid var(--textColor);
  color: var(--white);
}
.btns .resume {
  background-color: var(--white);
}
.btns .hire:hover,
.btns .resume:hover {
  background-color: var(--textColor);
  transition: 0.4s;
}

.about {
  text-align: center;
  margin-top: 4rem;
}

.about-me {
  background-color: rgb(13, 13, 44);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--textColor);
  margin-bottom: 1rem;
}

.about-me h2 {
  border-bottom: 2px solid var(--textColor);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.about-me p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.about-me .items {
  list-style-type: square;
}

.projects {
  text-align: center;
  margin-top: 4rem;
}
.projects .text-para{
  margin: 1rem 0rem;
}
.projects h1 {
  margin-bottom: 1rem;
}

.card {
  text-align: center;
}
.link-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.link-btn button {
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgb(245, 245, 21);
}
.link-btn button a {
  font-weight: 800;
  text-decoration: none;
  color: var(--bgColor);
}

.link-btn button:hover {
  background-color: gainsboro;
  transition: 0.4s;
}

.download {
  background-color: inherit;
  text-decoration: none;
  color: black;
}

.hire a {
  color: inherit;
  text-decoration: none;
}

.card-container {
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(13, 13, 44);
  padding: 2rem 1rem;
  /* height: 70vh; */
}

.card-container img {
  width: 50%;
  height: 50%;
}
.techskill-con {
  margin-top: 2rem;
}
.techskill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.3rem;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.img img {
  width: 40%;
}
.img {
  font-size: 11px;
}


.contact {
  text-align: center;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(13, 13, 44);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

form input {
  
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  width: 100%;
}

form input:hover,
form input:focus {
  outline: 2px solid var(--textColor);
  outline-offset: 2px;
}
form textarea {
  padding: 0.2rem;
  width: 100%;
  font-size: 1.2rem;
  height: 40vh;
}

.contact form button {
  margin-top: 1rem;
  padding: 0.5rem 4rem;
  font-weight: 800;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--textColor);
}

.contact form button:hover {
  background-color: yellow;
  transition: 0.4s;
}

footer {
  background-image: url(./assets/bg-section-top-desktop-1.svg);
  padding: 1rem;
  margin-top: 2rem;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot-img {
  width: 1.2rem;
}

.copy {
  margin-top: 2rem;
  color: var(--white);
  font-weight: 500;
}

.openlist {
  display: block;
}
.home .social {
  margin-top: 2rem;
  padding: 2rem;
}

.social a {
  text-decoration: none;
  margin-left: 0.3rem;
  cursor: pointer;
  color: var(--white);
}
.social a:last-child {
  margin-left: none;
}

.social a:hover {
  color: rgb(174, 174, 174);
  transition: 0.4s;
}

@media only screen and (min-width: 768px) {
  .bodycover {
    font-size: 1.2rem;
  }
  .menu-container {
    display: none;
  }

  .list {
    display: block;
    position: relative;
    border: none;
  }

  .list ul {
    flex-direction: row;
  }


  .home-img {
    width: 40%;

  }


  .home-text {
    width: 40%;
  }

  .img-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .btns {
    flex-direction: row;
    justify-content: space-between;
  }
  .btns button {
    width: 40%;
  }
  .flex {
    display: flex;
    justify-content: space-evenly;
  }

  .about-me {
    width: 30%;
  }
/* .projects .text-para{
  margin: 1rem 0rem;
} */

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1rem;
    justify-content: center;
  }
  form {
    width: 60%;
  }
}
